*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}


body{
    font-family: 'BIZ UDPGothic', sans-serif;
    background-color: #F9F9F9;
}

.heading h1{
    text-align: center;
    margin-top: 40px;
    font-size: 48px;
}

.main-content{
    margin: 80px 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 100px;

}

.footer{
    margin-top: 200px;
    height: 80px;
    background-color: #3A445D;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a{
    text-decoration: none;
    color: white;
    border-bottom: 2px dashed white;
    transition: all 200ms;
}

.footer a:hover{
    border-bottom: 2px solid white;
}

.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.canvas{
    cursor: crosshair;
    background-color: white;
    height: 900px;
    width: 900px;
    border-radius: 3px;
    border: 3px solid #343434;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.grid{
    display: grid;

}

.pixel{
    box-sizing: border-box; 
    user-select: none;  
}

.pixel-grid{
    border: 1px solid black;
}

.control-bar{
    width: 1000px;
    height: 240px;
    background-color: #343434;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

h2{
    color: white;
    text-align: center;
    margin: 20px 0px;
}

.controls{
    height: 160px;
    margin: 0px 100px;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.right, .left, .center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center{
    margin-top: 20px;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    align-items: center;
    font-size: 24px;
    gap: 30px;

}

.size-show{
    user-select: none;
}


.size-selector{
    display: flex;
    gap: 16px;
    align-items: center;
}

.square-button{
    background-color: #02A9EA;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    font-size: 20px;
    user-select: none;
}

.square-button:hover{
    background-color: #3abdf1;
}

.right{
    justify-content: start;
    gap: 20px;
    box-sizing: border-box;
}

.button{
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 2px;
    padding: 10px 26px;
    transition: all 250ms;
    cursor: pointer;
    user-select: none;
}



.button:hover, .active{
    font-weight: bold;
    background-color: white;
    color: #343434;
    border: 2px solid #02A9EA;
}



.reset:hover{
    border-color: #c40000;
    color: white;
    background-color: #ED254E;
}


.left{
    justify-content: center;
    gap: 25px;
}

.color-holder{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.color-picker{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #bbb;
    border-radius: 2px;
}

#color{
    opacity: 0;
    position: absolute;
}

.checkbox{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

#show-grid, #rainbow{
    opacity: 0;
    position: absolute;
}

.checkbox{
    cursor: pointer;
}

.check{
    background-color: #F9F9F9;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(153, 152, 152);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 200ms;
}

.check-active{
    background-color: #02A9EA;
}

.hide{
    display: none;
}

svg{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(103%) contrast(103%);
}

.rainbow{
    margin-right: 4px;
    gap: 2px;
}